.thumb {
    position: relative;

    overflow: hidden;
}

.thumb__overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(0%);

    transition: transform var(--main-transition);
}

.overlay__text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.portfolio-list__link:hover .overlay {
    transform: translateY(-100%);
}