.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;

    transition: color var(--main-transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &:not(:first-child) {
    margin-left: 50px;
    }
}

.contacts__icon {
    margin-right: 10px;

    fill: currentColor;
}