.features {
    padding-bottom: 0;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width: 270px;

    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;

    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__title {
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);
}