.mailing {
    padding-top: 12px;
}

.mailing__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 12px;
}

.footer-form__input {
    padding: 15px 16px;
    min-width: 358px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    background-color: inherit;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form__icon {
    margin-left: 10px;
}