.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.footer--info {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

// .footer--info {
//     display: flex;
//     justify-content: space-between;
// }

.footer__logo {
    display: inline-block;

    margin-bottom: 20px;
}

.logo--light {
    color: #ffffff;
}