.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;
    width: 528px;

    min-height: 581px;
    border-radius: 4px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%);
}

.modal__close-button {
    position: absolute;

    top: 0;
    right: 0;

    transform: translate(-8px, 8px);

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: #ffffff;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: fill var(--main-transition);

    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}

.modal__description {
    padding-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.modal-form {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.modal-form__label {
    display: flex;
    flex-direction: column;
}

.modal-form__text {
    padding-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.form-container {
    position: relative;

    width: 100%;
}

.modal-form__input {
    padding-left: 42px;
    padding-right: 12px;

    width: 100%;
    min-height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--main-transition);
}

.modal-form__icon {
    position: absolute;

    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill var(--main-transition);
}

.modal-form__input:focus+.modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__comment {
    padding: 16px 12px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--main-transition);

    resize: none;
}

.modal-form__input:focus,
.modal-form__comment:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-checkbox {
    margin-top: 20px;

    text-align: center;
}

.form-checkbox__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text-color);

    user-select: none;
}

.form-checkbox__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    gap: 8px;

    margin-bottom: 30px;
}

.form-checkbox__input:checked+.form-checkbox__custom {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.form-checkbox__input:focus+.form-checkbox__custom {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-checkbox__custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;

    border: 2px solid #212121;
    border-radius: 2px;
    transition: background-color var(--main-transition), border-color var(--main-transition);
}

.form-checkbox__contract {
    color: var(--accent-color);
}

.modal-button {
    padding: 10px 56px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border-color: #188ce8;

    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}