.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
    margin-right: 0px;
    }
    
    &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
    }
}

.portfolio-list__link {
    display: block;
    text-decoration: none;

    transition: box-shadow var(--main-transition);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--main-text-color);
}

.portfolio-list__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.portfolio-list__border {
    padding: 20px 24px;

    border: 1px solid #eeeeee;
    border-top: none;
}