.site-nav__list {
    display: flex;
}

.site-nav__list .site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;

    transition: color var(--main-transition);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.site-nav__list .site-nav__link.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link.site-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}